html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-family: 'Passion One', cursive;
    font-family: 'Abril Fatface', cursive;
}
.Main {
    text-align:center;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    background: url(../Images/pexels-photo-119681.jpeg) no-repeat center bottom;
    background-size: cover;
}
#celsius{
    position: absolute;
    width:80px;
    height:98%;
    top:1%;
    left:30px;
    background-color: rgba(0,0,0,0.6);
}
#fahrenheit{
    position: absolute;
    width:80px;
    height:98%;
    top:1%;
    right:30px;
    background-color: rgba(0,0,0,0.6);
}
#celsiusRed{
    position: relative;;
    top:99%;
    height:1%;
    width:99%;
    left:0.5%;
    background-color: red;
}
#fahrenheitRed{
    position: relative;;
    top:99%;
    height:1%;
    width:99%;
    left:0.5%;
    background-color: red;
}
.container{
    position: absolute;
    width:45%;
    left:27.5%;
    height:30%;
    background-color: rgba(0,0,0,0.6);
    top:35%;
}
.Name{
    font-family: 'Abril Fatface', cursive;
    font-size:30px;
    color:white;
}
#tempInputCelsius{
    margin-top:20px;
    position: absolute;
    left:20px;
    height:40px;
    min-width:150px;
    width:41%;
    background-color: rgba(42, 34, 34, 0.51);
    border-style: none;
    color:white;
    font-size:20px;
}
#tempInputFahrenheit{
    margin-top:20px;
    position: absolute;
    right:20px;
    height:40px;
    min-width:150px;
    width:41%;
    background-color: rgba(42, 34, 34, 0.51);
    border-style: none;
    color:white;
    font-size:20px;
}
#Button{
    position: relative;
    top:90px;
    width:150px;
    height:40px;
    background-color: rgba(42,34,34,0.51);
    border-style:none;
    color:white;
    font-size:20px;

}